[submodule "api"]
    path = api
    url = https://github.com/tackernao0522/online-flower-shop-crm-api.git
[submodule "front"]
    path = front
    url = https://github.com/tackernao0522/online-flower-shop-crm-front.git
