.DS_Store
.env
.idea/
.vscode/
routes.txt
infrastructure/terraform.tfstate
infrastructure/terraform.terraform.tfstate.1728457383.backup
infrastructure/.terraform/
infrastructure/terraform.tfvars

# Production deployment files
.env.prod
*.pem

# Production deployment files
.env.prod
*.pem

# Production deployment files
.env.template
.env.prod
*.pem

backend-task-definition.json
frontend-task-deinition.json
