# .terraform directory
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude sensitive files
*secret*.tfvars
*secrets*.tfvars
*private*.tfvars
*.tfvars

# Include main tfvars file
!terraform.tfvars

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
.idea

# Backup directory
tfstate_backups/
